h2{
	line-height: inherit;
	text-align: center;
}

h1,h2,h3,h4,h5{
	color: #37474F;
}

hr {
    border-color: #0097A7;
    width: 60px;
}

p{
	font-size: inherit;
}

#tf-mesa{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(233,240,245,1) 47%, rgba(220,237,233,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(233,240,245,1)), color-stop(100%, rgba(220,237,233,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(233,240,245,1) 47%, rgba(220,237,233,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(233,240,245,1) 47%, rgba(220,237,233,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(233,240,245,1) 47%, rgba(220,237,233,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(233,240,245,1) 47%, rgba(220,237,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcede9', GradientType=1 );
}

#tf-mensaje{
	background: #ECEFF1;
	padding: 10%  0;
	text-align: center;
}

#tf-mesa, #tf-acerca{
	padding: 10% 0; 
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #FFF;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.content {
    padding: 6% 0 10% 0;
    text-align: center;
}

